@tailwind base;

@tailwind components;

@tailwind utilities;

:root {

--background: 0 0% 3.9%;

--foreground: 0 0% 98%;

--border: 0 0% 14.9%;

--primary: 45 64% 52%; /* Gold Color */

}

body {

@apply bg-background text-foreground;

font-feature-settings: "rlig" 1, "calt" 1;

}

/* Ensures the background is always dark as in the template */
html, body, #root {

height: 100%;

background-color: #0a0a0a;

}
